<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>A Natural Language Processor Project</title>
        <!-- <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css"> -->
    </head>

    <body>

        <header>
            <div class="logo">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>

            <section>
                <form class="" onsubmit="return Client.getMeaning(event)">
                    <label for="getMeaning" id="txt-analysis">Paste your text here</label>
                    <!-- onblur="Client.onBlur()"-->
                    <input id="meaning-cloud" type="text" name="input" value="" placeholder="Article">
                    <input id="btn-submit" type="submit" name="" value="submit" onclick="return Client.getMeaning(event)" onsubmit="return Client.getMeaning(event)">
                </form>
            </section>

            <div id="results-container">
                <h1>Results</h1>
                <p id="results"></p>
                <p id="model"></p>
                <p id="score_tag"></p>
                <p id="agreement"></p>
                <p id="subjectivity"></p>
                <p id="confidence"></p>
                <p id="irony"></p>
            </div>
        </main>

        <footer>
            <p>&copy 2021-2025 Udacity</p>
            <p></p>  <!--Todo add social links-->

        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
              // Use the window load event to keep the page load performant
              window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
              });
            }
            </script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </body>
</html>
