/* Color Theme Swatches in Hex */
/* Color Theme Swatches in Hex */
$Graphic-Design-1-hex: #D98494;
$Graphic-Design-2-hex: #F288A4;
$Graphic-Design-3-hex: #80BFA8;
$Graphic-Design-4-hex: #83A638;
$Graphic-Design-5-hex: #0D0D0D;

/* Color Theme Swatches in RGBA */
$Graphic-Design-1-rgba: rgba(216,132,147, 1);
$Graphic-Design-2-rgba: rgba(242,135,164, 1);
$Graphic-Design-3-rgba: rgba(128,191,168, 1);
$Graphic-Design-4-rgba: rgba(131,165,56, 1);
$Graphic-Design-5-rgba: rgba(12,12,12, 1);

/* Color Theme Swatches in HSLA */
$Graphic-Design-1-hsla: hsla(348, 52, 68, 1);
$Graphic-Design-2-hsla: hsla(343, 80, 74, 1);
$Graphic-Design-3-hsla: hsla(157, 33, 62, 1);
$Graphic-Design-4-hsla: hsla(78, 49, 43, 1);
$Graphic-Design-5-hsla: hsla(0, 0, 5, 1);

