/* Color Theme Swatches in Hex */
$Saltens-1-hex: #A6A6A6;
$Saltens-2-hex: #8C8C8C;
$Saltens-3-hex: #595959;
$Saltens-4-hex: #262626;
$Saltens-5-hex: #0D0D0D;

/* Color Theme Swatches in RGBA */
$Saltens-1-rgba: rgba(165,165,165, 1);
$Saltens-2-rgba: rgba(140,140,140, 1);
$Saltens-3-rgba: rgba(89,89,89, 1);
$Saltens-4-rgba: rgba(38,38,38, 1);
$Saltens-5-rgba: rgba(12,12,12, 1);

/* Color Theme Swatches in HSLA */
$Saltens-1-hsla: hsla(0, 0, 65, 1);
$Saltens-2-hsla: hsla(0, 0, 55, 1);
$Saltens-3-hsla: hsla(0, 0, 35, 1);
$Saltens-4-hsla: hsla(0, 0, 15, 1);
$Saltens-5-hsla: hsla(0, 0, 5, 1);
